[Desktop Entry]
Name=medit
Comment=Text editor
Comment[cs]=Textový editor
Comment[de]=Texteditor
Comment[es]=Editor de texto
Comment[fi]=Tekstimuokkain
Comment[fr]=Éditeur de texte
Comment[ja]=テキストエディター
Comment[nl]=Teksteditor
Comment[pl]=Edytor tekstu
Comment[ru]=Текстовый редактор
Comment[zh_CN]=文本编辑器
Exec=medit %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=medit
Categories=Utility;TextEditor;
Keywords=editor;texteditor;text
